<!--

 _______   _________   _______                
(  ____ \  \__   __/  (  ___  )  |\     /|    
| (    \/     ) (     | (   ) |  ( \   / )    
| (_____      | |     | (___) |   \ (_) /     
(_____  )     | |     |  ___  |    \   /      
      ) |     | |     | (   ) |     ) (       
/\____) |     | |     | )   ( |     | |       
\_______)     )_(     |/     \|     \_/       
                                              
         _______              _________ _     
        (  ___  )  |\     /|  \__   __/( )    
        | (   ) |  | )   ( |     ) (   | |    
        | |   | |  | |   | |     | |   | |    
        | |   | |  | |   | |     | |   | |    
        | |   | |  | |   | |     | |   (_)    
        | (___) |  | (___) |     | |    _     
        (_______)  (_______)     )_(   (_)    
                                              
                                          
This file should never be edited directly.

All of this content is generated from comments in
the source, README.md in the root, and a few tutorial
files in ./build/docs/tutorials/
























<!-- start:source.tmpl.hbs -->
{{#extend "site/layout"}}

	{{#content "content"}}
		<section class="source-section">
			<article>{{{doclet.contents}}}</article>
			<pre class="prettyprint source language-javascript{{#if options.linenums}} line-numbers{{/if}}"><code class="language-javascript">{{{doclet.code}}}</code></pre>
		</section>
	{{/content}}

{{/extend}}
<!-- end:source.tmpl.hbs -->